@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ff8000;
  --color-white: #ffffff;
  --color-black: #2c2c2c;
  --color-gray-light: #e8e8e8;
  --color-gray-normal: #e1e1e1;
  --color-gray-dark: #6c6c6c;

  --color-header: rgba(255, 255, 255, 0.4);
  --bg-footer: radial-gradient(
    ellipse at bottom,
    rgba(255, 0, 0, 1),
    rgba(0, 0, 255, 0.4)
  );

  --shadow-user-layout: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2c2c2c;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply w-fit text-xl font-normal hover:text-primary font-bold cursor-pointer;
}

.footer-link {
  @apply w-fit text-xl font-normal hover:text-primary font-bold cursor-pointer inline-flex gap-1 items-center;
}

body {
  margin: 0;
}

h1 {
  @apply text-primary text-6xl font-bold;
}

h2 {
  @apply text-[2.5rem] font-extrabold;
}

label {
  @apply text-black/70 font-semibold text-base uppercase;
}

.opinion-label {
  @apply text-primary mb-4 font-semibold text-base uppercase;
}

.bt-primary, .bt-secondary {
  @apply rounded-lg font-extrabold text-xl px-6 py-3;
  @apply active:brightness-90 active:scale-95 transition-all duration-150 ease-in-out;
}

.bt-primary {
  @apply bg-primary text-white;
  @apply hover:brightness-110 hover:text-white;
  @apply focus:ring-2 focus:ring-primary/50;
}

.bt-secondary {
  @apply bg-white text-primary outline-3 outline-primary -outline-offset-3;
  @apply hover:bg-primary/10;
  @apply focus:outline-primary focus:-outline-offset-3 focus:outline-3 focus:ring-2 focus:ring-primary/50;
}

.input {
  @apply w-full text-xl px-6 py-3 rounded-xl border-2 border-gray-normal;
}

.input:focus {
  outline: none;
  border: 2px solid #2c2c2c;
}

.input-placeholder {
  @apply capitalize absolute top-3.5 left-6 text-lg text-gray-normal 
  transition-all duration-300 ease-in-out rounded-full -z-10 cursor-text;
}

.input:focus + .input-placeholder,
.input:valid + .input-placeholder {
  @apply transform -translate-y-6 -translate-x-6 text-black bg-white px-2 scale-75 z-10;
}

.speed-slider {
  -webkit-appearance: none;
  appearance: none;
  @apply w-10 h-64 rounded-lg appearance-none disabled:cursor-not-allowed cursor-pointer bg-gradient-to-t from-white to-primary;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.4); /* Simula un outline */
}

/* thumb style) */
.speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  @apply w-14 h-4 rounded-md bg-black outline-8 outline-gray-100 cursor-pointer;
}

/* Estilo para Firefox */
.speed-slider::-moz-range-thumb {
  @apply w-12 h-4 bg-black outline-8 outline-gray-100 cursor-pointer;
}

/* Style for other browsers (IE/Edge) */
.speed-slider::-ms-thumb {
  @apply w-12 h-4 bg-black outline-8 outline-gray-100 cursor-pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
